@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fafafa;
  font-size: 100%;

  @media screen and (max-width: 600px) {
    font-size: 80%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sample{
  color: #34CAA5; /* primary */
  color: #6dbeaa; /* sec */
  color: #001e28; /* Prim */
  color: #021117; /* sec */
}
